<app-nav></app-nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                    <h1 class="display-4">Pet Finder</h1>
                    <p class="lead">Lost your Pet, Use this bulletin to find</p>
                    <hr class="my-4">
                    <p>A quick demo for PRB</p>
                  </div>
                </div>
    </div>
    <div class="row">
        <div *ngFor="let pet of pets">
                <div class="card" style="width: 18rem; margin-left: 10px;">
                        <img class="card-img-top" src= "{{pet.image}}" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">{{pet.name}}</h5>
                          <p class="card-text">{{pet.description}}</p>
                          <div *ngIf = "pet.status == true">
                          <a href="#" class="btn btn-danger">Lost</a>
                        </div>
                        <div *ngIf = "pet.status == false">
                                <a href="#" class="btn btn-success">Found</a>
                              </div>
                        </div>
                </div>
    </div>
    </div>
    </div>